body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title {
  margin-bottom: 30px;
  font-size: 60px;
  letter-spacing: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}

.route-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-2 {
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}

#search-bar {
  width: 600px;
}

#search-button {
  margin-bottom: 20px;
  width: 600px;
  border: none;
}

#borrow-button, #wishlist-button, #return-button, #remove-button, #add-notes-button {
  background-color: black;
  border: none;
  margin: 10px 5px 0px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#post-notes-button {
  background-color: black;
  border: none;
  margin-left: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#main-body {
  display: flex;
  position: relative;
  inset: 80px 0px 0px 0px;
  height: 560px;
  width: 560px;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 30px;
}

.books-card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  width: 700px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: mintcream;
  border-radius: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.borrowed-books-page, .wishlist-books-page {
  margin-top: 40px;
}

#main-body::after, #main-body::before {
  content: '';
  position: absolute;
  height: 101%;
  width: 101%;
  z-index: -1;
  border-radius: 30px;
  background-image: conic-gradient(red, purple, blue, green, yellow, orange, red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#main-body::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.books-card-display > p {
  color: black;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pagination-buttons > button {
  border: none;
  margin: 10px;
}

.btn-success {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#top-nav-bar {
  padding: 10px;
  width: 600px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid white;
}

#user-info {
  display: flex;
  flex-direction: column;
}

.userinfo-card {
  background-color: white;
  margin-bottom: 14px;
  width: 600px;
  border-radius: 20px;
  padding: 15px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#account-save-button {
  background-color: black;
  border: none;
  margin: 0px 0px 20px 10px;
}
